body {
    background:url('/static/images/background-5.jpg');
    background-attachment:fixed;
    background-size:cover;
    font-size:20px;
}

footer, .footer {
    position:absolute;
    bottom:0;
    background:linear-gradient(rgba(218,218,218,0.1), rgba(218,218,218,0.5));
    width:100%;
    padding:3rem 0;
    color:#FFFFFF;
    font-size:1.5rem;
}

.step-process-container {
	margin-top:20%;
	background:rgba(170,170,170,0.75);
	box-shadow:inset 0px -10px 15px -10px rgba(0,0,0,0.25), inset 0px -5px 10px -8px rgba(0,0,0,0.35);
}

.step-process-container .steps {
	text-align:center;
	padding:2rem;
	font-size:1.8rem;
	color:#FFFFFF;
	background:rgb(92, 184, 92);
	box-shadow:4px 0 2px -2px rgba(0,0,0,0.15), 7px 0 4px -2px rgba(0,0,0,0.15);
}

.wish-form-container, .organization-form-container {
    padding:5rem;
    background:rgb(255,255,255);
    box-shadow:0px 0px 5px -2px rgba(20,20,20,0.6), 0px 2px 5px -2px rgba(20,20,20,0.7);
}

.organization-form-container form .organization-reg-input{
    width:100%;
}

.organization-form-container form button{
    width:100%;
}

.alert {
    font-size:1.5rem;
    margin:0;
}

.organization-form-container .alert ul{
    list-style:none;
    padding-left:0px;
}

.wish-container .alert {
    position:absolute;
    width:100%;
}

.organization-form-container .alert, .wish-form-container .alert {
    background:none;
    border:none;
    position:relative;
    padding:0.5rem 1rem;
}

.wish-form-container .alert ul {
    list-style:none;
    padding-left:0px;
}

.wish-form-container .error-container {
    top:-15px;
}

.wish-form-container form .wish-codename-input{
    padding:2rem;
    font-size:2rem;
    width:100%;
}

.wish-form-container form .wish-list-input{
    padding:1rem 2rem;
    font-size:1.5rem;
    width:100%;
}

.wish-form-container button {
	width:100%;
}

.tokenfield {
    overflow-x:hidden;
}

.tokenfield .token {
	height:100%;
}

.shuffle-form-container {
	position:absolute;
	top:35rem;
	width:100%;
}

.shuffle-form-container a.btn {
	width:100%;
}

.has-error input, .has-error textarea{
    background:rgba(255,230,230,1);
}

.members-list {
	padding:1rem;
	background:#FFFFFF;
	box-sizing:border-box;
	margin-top:5rem;
	font-size:1.5rem;
	width:100%;
}

.action-btns-container {
	width:100%;
	margin-top:5rem;
}


.action-btns-container button{
	float:right;
}
