{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Christmas M&M</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    
    <!-- Bootstrap Tokenfield plugin CSS -->
    <link href="{% static 'css/bootstrap-tokenfield.min.css' %}" rel="stylesheet" />

    <!-- Custom style -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />

  </head>

  <body>
    <div class="container">
        {% block content %} {% endblock %}
    </div>

    <!-- Page Footer -->
    <footer class="footer">
        <div class="container">
            Xybersolutions 2015
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-tokenfield.min.js' %}"></script>

    <script type="application/javascript">
        $(document).ready(function() {
            $('#id_member_emails').tokenfield();
        });
    </script>
  </body>
</html>

