{% extends 'base.html' %}

{% block content %}


<div class="row">
    <div class="col-md-10 col-md-offset-1 col-lg-offset-0 col-lg-12">
	
		<div class="step-process-container row">
			<div class="col-md-2 steps">
				Create Organization
			</div>
		</div>

        <div class="organization-form-container row">
            <form action="/" method="POST">
                <div class="form-inline">
                    {% csrf_token %}
                    <div class="col-md-12 form-group-lg {% if org_form.organization_name.errors %} has-error {% endif %}">
                        <div class="input-group col-md-12">
                            {{ org_form.organization_name }}
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-lg btn-success">Create</button>
                            </span>
                        </div>
                        {% if org_form.organization_name.errors %}
                        <div class="alert alert-danger" role="alert">{{ org_form.organization_name.errors }}</div>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock %}
